<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Curso</th>
        <th>Profesor</th>
        <th class="numeric">Duracion (semanas)</th>
        <th class="numeric">Precio</th>
    </tr>
    </thead>
    <tbody id="table-{{ widget.name }}">
    {% for choise in widget.attrs.choises %}
        <tr>
            <td><input type="checkbox"><input type="hidden" name="course" value="{{ choise.id }}"></td>
            <td>{{ choise.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Totales</th>
            <th></th>
            <th>-</th>
            <th class="numeric"><input type="text" readonly  id="total-weeks" class="numeric"></th>
            <th class="numeric"><input type="text" readonly id="total-cost" class="numeric"></th>
        </tr>
    </tfoot>
</table>