<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Universidad de Oxford</title>

    {% block style %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
              crossorigin="anonymous">
    {% endblock %}

</head>
<body>
{% block navbar %}
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Universidad de Oxford</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'frontend:index' %}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'frontend:matriculas' %}">Matriculas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">{% if user.is_authenticated %}{{ user.get_full_name }}
                {% else %}Ingresa{% endif %}</a>

                {% if user.is_authenticated %}
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mi cuenta</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin:logout' %}">Salir</a>
                    </div>
                {% else %}
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Crea una cuenta</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}

{% block  breadcrumb %}{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium aut autem
            consequuntur delectus dignissimos dolor, illum ipsam iusto maiores nemo, nesciunt nulla praesentium
            repudiandae sequi sint veritatis vero.</p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Cursos disponibles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th colspan="2">
                            Estadisticas
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Edad de estudiantes</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Notas de estudiantes</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Edad de los profesores</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Los creditos ganados por los estudiantes</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>