{% extends 'frontend/index.html' %}


{% block content %}
    <div class="container">
        <h1 style="display: flex; justify-content: center; align-items: center">Matriculas</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
            <thead>
            <tr>

                <th colspan="6" style="display: flex; justify-content: flex-end; padding-right: 2em">
                    <input type="text" class="" placeholder="Buscar" style="margin: 0 20px 0 20px; width: 80%; height:
                25pt; border-radius: 10px; padding: 5px">
                    <button class="btn btn-primary"> Nueva
                        matricula
                    </button>
                </th>
                <th>
                    total
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cesar abel
                </td>
                <td>Ramirez</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <td>Cesar abel
                </td>
                <td>Ramirez</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <td>Cesar abel
                </td>
                <td>Ramirez</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <td>Cesar abel
                </td>
                <td>Ramirez</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}