{% extends 'frontend/index.html' %}
{% load crispy_forms_filters %}

{% block style %}
    {{ block.super }}
    <style type="text/css">
        tr.active {
            background-color: yellow;
        }
        .numeric{
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="." method="post" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <div class="col">{{ form.first_name|as_crispy_field }}</div>
                            <div class="col">{{ form.last_name|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form.number_id|as_crispy_field }}</div>
                            <div class="col">{{ form.phone_number|as_crispy_field }}</div>
                            <div class="col">{{ form.date_of_bird|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form.address|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form.program|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form.courses|as_crispy_field }}</div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

      $(document).ready(function () {

        $(document).on('change', '#id_program', function () {
          const _this = $(this);
          const token = $('input[name="csrfmiddlewaretoken"]').val();
          console.log(_this, token);
          $.ajax('.', {
            method: "post",
            data: {
              get_courses: 'get_courses',
              program: _this.val(),
              csrfmiddlewaretoken: token,
            },
            success: function (response) {
              const $courses = $('#table-courses').empty();
              $.each(response, function (i, o) {
                $courses.append(`<tr>
                        <td>
                            <input type="checkbox" class="select-course">
                            <input type="hidden" value=${o.id} class="course-container">
                        </td>
                        <td>${o.name}</td>
                        <td>${o.professor}</td>
                        <td class="numeric weeks">${o.weeks}</td>
                        <td class="numeric cost">${o.cost}</td>
                    </tr>`);
              })
            }
          });
        });


        $(document).on('change', '.select-course', function () {
          const _this = $(this);
          const $tr = _this.parents('tr');
          if (_this.is(':checked')) {
            $tr.addClass('active');
            $tr.find('.course-container').attr('name', 'course');
          } else {
            $tr.removeClass('active');
            $tr.find('.course-container').removeAttr('name');
          }
          const table = $('#table-courses tr.active');
          let total = 0;
          let duration = 0;
          $.each(table, function (i, tr) {
            total += parseFloat($(tr).find('.cost').html());
            duration += parseFloat($(tr).find('.weeks').html());
          })
          $('#total-cost').val(total);
          $('#total-weeks').val(duration);
        })

      })
    </script>
{% endblock %}